.hero-body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.articles {
  margin: 5rem 0;
  margin-top: -30vh;
}

.articles .content p {
  line-height: 1.9;
  margin: 15px 0;
}

.media-content {
  margin-top: 3rem;
}

.article,
.promo-block {
  margin-top: 6rem;
  height: 50vh;
}

.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
}

.article-subtitle {
  color: #909aa0;
  margin-bottom: 3rem;
}

.article-body {
  line-height: 1.4;
  margin: 0 6rem;
}

.promo-block .container {
  margin: 1rem 5rem;
}
